target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/target/
**/react/
**/.settings
.settings
**/.classpath
.classpath
**/bin/
.project
**/.project
**/lib/
**/META-INF/MANIFEST.MF
**/.pmd
.pmd
**/.pmd
**/rebel.xml
**/rebel-remote.xml
**/derby.log
*.iml
.idea/
**/temporary/
**/.rebel.xml.bak
**/.rebel-remote.xml.bak
**/pom.xml.versionsBackup
